# Global Services
DATABASE_URL="postgresql://payflow:password@localhost:5432/payflow?schema=public"
REDIS_URL="redis://localhost:6379"
KAFKA_BROKERS="localhost:9092"

# API Gateway
PORT=3000

# Auth Service
AUTH_SERVICE_PORT=3001
JWT_SECRET="super-secret-production-key-change-me"
JWT_REFRESH_SECRET="super-secret-refresh-key-change-me"

# User Service
USER_SERVICE_PORT=3002

# Wallet Service
WALLET_SERVICE_PORT=3003

# Payment Service (Go)
PAYMENT_SERVICE_PORT=8080

# Notification Service
NOTIFICATION_SERVICE_PORT=3004

# Fraud Detection Service
FRAUD_SERVICE_PORT=3005

# Transaction History Service
HISTORY_SERVICE_PORT=3006
